<mat-card-title>
  {{ titulo }}
</mat-card-title>

<mat-card-content>

  <form class="form-container">

    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <input matInput placeholder="Informe a descrição do artigo" required>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select placeholder="Selecione o tipo do artigo" required>
        <mat-option value="1">Teste 1</mat-option>
        <mat-option value="2">Teste 2</mat-option>
      </mat-select>
    </mat-form-field>

  </form>

</mat-card-content>