<mat-card-title>
  {{ titulo }}
</mat-card-title>

<mat-card-content>

  <form class="form-container">

    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <input matInput placeholder="Informe a descrição do artigo" required
        name="descricao" [(ngModel)]="artigo.descricao">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select placeholder="Selecione o tipo do artigo" required name="tipo" [(ngModel)]="artigo.tipo">
        <mat-option *ngFor="let tipo of tipos" [value]="tipo._id">
          {{ tipo.descricao }}
        </mat-option>          
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tamanho</mat-label>
      <mat-select placeholder="Selecione o tamanho da peça" required name="tamanho" [(ngModel)]="artigo.tamanho">
        <mat-option *ngFor="let tamanho of tamanhos" [value]="tamanho._id">
          {{ tamanho.descricao }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cor</mat-label>
      <input matInput placeholder="Informe a cor do artigo" required name="cor" [(ngModel)]="artigo.cor">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Marca</mat-label>
      <input matInput placeholder="Informe a marca do artigo" name="marca" [(ngModel)]="artigo.marca">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Linha</mat-label>
      <mat-select placeholder="Selecione a linha do artigo" required name="linha" [(ngModel)]="artigo.linha">
        <mat-option *ngFor="let linha of linhas" [value]="linha._id">
          {{ linha.descricao }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Origem</mat-label>
      <input matInput placeholder="Informe a origem do artigo" name="origem" [(ngModel)]="artigo.origem">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estado de conservação</mat-label>
      <input matInput placeholder="Informe o estado de conservação" required name="estado_conservacao" [(ngModel)]="artigo.estado_conservacao">
    </mat-form-field>

    <div class="mat-form-field-wrapper div-checkbox">
      <mat-label>Conjunto? &nbsp;</mat-label>
      <mat-checkbox required name="conjunto" [(ngModel)]="artigo.conjunto"></mat-checkbox>      
    </div>

    <mat-form-field>
      <mat-label>Data da compra</mat-label>
      <input matInput [matDatepicker]="dataCompra" placeholder="Selecione a data de compra" required name="data_compra" [(ngModel)]="artigo.data_compra">
      <mat-datepicker-toggle matSuffix [for]="dataCompra"></mat-datepicker-toggle>
      <mat-datepicker #dataCompra></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Valor da compra</mat-label>
      <span matPrefix>R$ &nbsp;</span>
      <input matInput type="number" placeholder="Informe o valor da compra" required name="valor_compra" [(ngModel)]="artigo.valor_compra">
    </mat-form-field>    

    <mat-form-field>
      <mat-label>Data da venda</mat-label>
      <input matInput [matDatepicker]="dataVenda" placeholder="Selecione a data de venda" name="data_venda" [(ngModel)]="artigo.data_venda">
      <mat-datepicker-toggle matSuffix [for]="dataVenda"></mat-datepicker-toggle>
      <mat-datepicker #dataVenda></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Valor da venda</mat-label>
      <span matPrefix>R$ &nbsp;</span>
      <input matInput type="number" placeholder="Informe o valor da venda" name="valor_venda" [(ngModel)]="artigo.valor_venda">
    </mat-form-field>    

  </form>

</mat-card-content>

<mat-card-actions class="center-buttons">
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
  <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
</mat-card-actions>